@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Inter", sans-serif;
    contain: layout style;
  }
}

@layer utilities {
  input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
  }

  .rotate-animation {
    animation: rotateImage 120s linear infinite;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .pulsing {
    animation: pulsing 2s infinite;
  }
}

@layer components {
  .header-title {
    font-family: "Segoe Script", "Brush Script MT", cursive !important;
  }

  .slick-slide > div {
    margin: 0 10px;
  }
}

@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulsing {
  0% {
    box-shadow: 0 0 0 0px rgba(59, 130, 246, 0.5); /* Slightly darker color */
  }
  100% {
    box-shadow: 0 0 0 12px rgba(59, 130, 246, 0); /* Increase spread and decrease opacity */
  }
}
